html {
  height: 99%;
}

body {   
    font-family: Calibri, sans-serif;    
    height: 99%;
  }

.flex-container {
  display: flex;
  flex-direction: column;        
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}

useful-app, .useful-app {
  height: 99%;
}

.splash-container {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

.splash-screen {
  flex: 1;
  align-content: center;
  text-align: center;
}
