html {
  min-height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

body {   
  font-family: Calibri, sans-serif;    
  min-height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.flex-container {
  display: flex;
  flex-direction: column;        
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}

useful-app {
  min-height: 100%;
}

.splash-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.splash-screen {
  flex: 1;
  align-content: center;
  text-align: center;
}

md-content, .md-sidenav-content {
  min-height: 100%;
  height: auto !important;
}

@keyframes oscillateAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes oscillateAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes oscillateAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes oscillateAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-oscillate {
   -webkit-animation: oscillateAnimation 2s infinite;
   -moz-animation: oscillateAnimation 2s infinite;
   -o-animation: oscillateAnimation 2s infinite;
    animation: oscillateAnimation 2s infinite;
}