html {
  height: 100%;
  display: flex;
  flex-direction: column;        
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
}

body {
    flex: 1;      
    font-family: Calibri, sans-serif; 
    display: flex;
    flex-direction: column;        
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;  
  }


useful-app, .useful-app {
  flex-shrink: 1;
  flex: 0.9;
}

footer{
  flex: 0.1;
  flex-shrink: 0;
  background-color: rgba(47, 79,79, 10);
}